* {
  margin: 0;
  padding: 0;
}

body {
  /*background: linear-gradient(to top, #EECFBA 0%, #C5DDE8 100%) fixed;*/
  background: url(img/bck.jpg);
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Noto Sans', sans-serif;
  position: relative;
  color: #fff;
}

html,
body {
	height: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-logo {
  padding-top: 15px;
  width: 25px;
}
.info {
  padding-top: 10px;
  color: #fff;
  font-size: 10px;
  padding-bottom: 15px;
  text-decoration: none;
}

.wrapper-widget {
  background: rgba(208,153,188,0.5);
  margin: 30px auto 0;
  width: 320px;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
}

.logo {
  border: 2px #fff solid;
  border-radius: 8px;
  height: 108px;
  width: 108px;
  position: absolute;
  left:50%;
  top: 30px;
  margin-left: -56px;
}

h2 {
  padding-top: 180px;
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
  font-size: 27px;
}

.wrapper-widget>p {
  text-align: center;
  color: #c55586;
}

.wrapper-widget>p:last-child {
  padding-bottom: 30px;
}

.wrapper-order {
  margin: 10px auto;
  width: 320px;
}

.btn-order {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;
  /*background:rgba(208,153,188,0.5);*/
  background:rgba(52,217,81,0.5);
  text-decoration: none;
  color: #fff;
  padding: 20px 3px;
  width: 320px;
  box-sizing: border-box;
}

.wrapper-contacts,.wrapper-socials {
  background: rgba(208,153,188,0.5);
  margin: 10px auto 0;
  width: 320px;
  border-radius: 8px;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  padding-top: 15px;
  color: #fff;
}

hr {
  margin: 0 auto;
  margin-top: 15px;
  width: 90%;
}

.contacts {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 15px;
}

.content-viber,.content-phone,.content-telegram {
  width: 66px;
  height: 66px;
}

.contact-background-color {
  fill: #694dce;
}

.contact-color1 {
  fill: #fff;
}

.contact-background-color1 {
  fill: #34d951;
}

.contact-background-color2 {
fill: #4dd0e1;
}

.contact-color2 {
  fill: #c8daea;
}

.contact-color3 {
  fill: #a9c9dd;
}

.contact-color4 {
  fill: #eff7fc;
}

.wrapper-socials {
  margin: 10px auto 0;
}

.content-social {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid #f00;
  border-radius: 20px;
  padding: 6px 12px;
  width: 200px;
  text-decoration: none;
}

.content-youtube>a {
  border: 2px solid #f00;
  color: #f00;
}
.content-instagram>a {
  border: 2px solid #e4405f;
  color: #e4405f;
}
.content-facebook>a {
  border: 2px solid #3b5999;
  color: #3b5999;
}

.text {
  padding-left: 6px;
}

.content-facebook {
  margin-bottom: 15px;
}

.social-img {
  display: block;
  height: 21px;
  width: 21px;
}

.social-button-color1 {
  fill: #f00;
}

.social-button-color2 {
  fill: #e4405f;
}

.social-button-color3 {
  fill: #3b5999;;
}